---
http_interactions:
- request:
    method: post
    uri: https://gitlab.com/api/v3/projects?private_token=fjv8JKK87ujjH77
    body:
      encoding: UTF-8
      string: ! '{"name":"my-test-project","description":"this is a new project","default_branch":"master","issues_enabled":"true","wiki_ebabled":"true","wall_enabled":"true","merge_requests_enabled":"true"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
      Etag:
      - ! '"43f9385dddf7d6c36a6b9a15cae30309"'
    body:
      encoding: US-ASCII
      string: ! '{"id":4706,"name":"my-test-project","description":"this is a new
        project","default_branch":"master","owner":{"id":4490,"username":"georgemc","email":"george@georgemcintosh.com","name":"GeorgeMc","state":"active","created_at":"2013-04-17T17:16:12Z"},"public":false,"path":"my-test-project","path_with_namespace":"georgemc/my-test-project","issues_enabled":true,"merge_requests_enabled":true,"wall_enabled":false,"wiki_enabled":true,"created_at":"2013-04-17T17:27:14Z","namespace":{"created_at":"2013-04-17T17:16:12Z","description":"","id":4468,"name":"georgemc","owner_id":4490,"path":"georgemc","updated_at":"2013-04-17T17:16:12Z"}}'
  recorded_at: Wed, 17 Apr 2013 17:26:21 GMT
recorded_with: VCR 2.4.0
