---
http_interactions:
- request:
    method: post
    uri: http://git.specems.com/api/v3/projects?private_token=eQss1EsP1LFR5x2wuKKi
    body:
      encoding: UTF-8
      string: ! '{"name":"my-test-project","description":"this is a new project","default_branch":"master","issues_enabled":"true","wiki_ebabled":"true","wall_enabled":"true","merge_requests_enabled":"true"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - ! '"7a65e08e8061ca7443e313da52e8f536"'
      Status:
      - '201'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":36,"name":"my-test-project","description":"this is a new project","default_branch":"master","owner":{"id":2,"username":"george.mcintosh","email":"george.mcintosh@specsavers.com","name":"George
        McIntosh","state":"active","created_at":"2013-04-16T15:15:31Z"},"public":false,"path":"my-test-project","path_with_namespace":"george.mcintosh/my-test-project","issues_enabled":true,"merge_requests_enabled":true,"wall_enabled":false,"wiki_enabled":true,"created_at":"2013-04-17T14:25:51Z","namespace":{"created_at":"2013-04-16T15:15:31Z","description":"","id":2,"name":"george.mcintosh","owner_id":2,"path":"george.mcintosh","updated_at":"2013-04-16T15:15:31Z"}}'
  recorded_at: Wed, 17 Apr 2013 14:25:51 GMT
recorded_with: VCR 2.4.0
