---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects?private_token=fjv8JKK87ujjH77
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - ! '"e770a176a79061810bb4995866c29811"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":4706,"name":"my-test-project","description":"this is a new
        project","default_branch":"master","owner":{"id":4490,"username":"georgemc","email":"george@georgemcintosh.com","name":"GeorgeMc","state":"active","created_at":"2013-04-17T17:16:12Z"},"public":false,"path":"my-test-project","path_with_namespace":"georgemc/my-test-project","issues_enabled":true,"merge_requests_enabled":true,"wall_enabled":false,"wiki_enabled":true,"created_at":"2013-04-17T17:27:14Z","namespace":{"created_at":"2013-04-17T17:16:12Z","description":"","id":4468,"name":"georgemc","owner_id":4490,"path":"georgemc","updated_at":"2013-04-17T17:16:12Z"}}]'
  recorded_at: Wed, 17 Apr 2013 17:33:20 GMT
recorded_with: VCR 2.4.0
